@page "/admin"
@using TiendaVirtual.Client.Components
@layout AdminLayout  
@inherits ProtectedComponentBase

<PageTitle>Panel de Administración</PageTitle>

<h3>Contenido del Panel de Administración</h3>
<p>
    Si ves esto y el Navbar lateral, ¡funciona!
</p>